<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="pagination"
     th:fragment="pagination(pageParamName, page, otherPage1, otherPage2)"
     th:with="userId=${user.userId},
              followPageNum=${pageParamName == 'followPage' ? page.number : otherPage1},
              blockPageNum=${pageParamName == 'blockPage' ? page.number : (pageParamName == 'followPage' ? otherPage1 : otherPage2)},
              chatPageNum=${pageParamName == 'chatPage' ? page.number : otherPage2}"
     th:if="${page.totalPages > 1}">

    <a th:href="@{/admin/users/{id}(id=${userId}, followPage=${page.number - 1}, blockPage=${blockPageNum}, chatPage=${chatPageNum})}"
       th:if="${pageParamName == 'followPage' and page.hasPrevious()}">이전</a>
    <a th:href="@{/admin/users/{id}(id=${userId}, followPage=${followPageNum}, blockPage=${page.number - 1}, chatPage=${chatPageNum})}"
       th:if="${pageParamName == 'blockPage' and page.hasPrevious()}">이전</a>
    <a th:href="@{/admin/users/{id}(id=${userId}, followPage=${followPageNum}, blockPage=${blockPageNum}, chatPage=${page.number - 1})}"
       th:if="${pageParamName == 'chatPage' and page.hasPrevious()}">이전</a>

    <span th:text="${page.number + 1} + ' / ' + ${page.totalPages}"></span>

    <a th:href="@{/admin/users/{id}(id=${userId}, followPage=${page.number + 1}, blockPage=${blockPageNum}, chatPage=${chatPageNum})}"
       th:if="${pageParamName == 'followPage' and page.hasNext()}">다음</a>
    <a th:href="@{/admin/users/{id}(id=${userId}, followPage=${followPageNum}, blockPage=${page.number + 1}, chatPage=${chatPageNum})}"
       th:if="${pageParamName == 'blockPage' and page.hasNext()}">다음</a>
    <a th:href="@{/admin/users/{id}(id=${userId}, followPage=${followPageNum}, blockPage=${blockPageNum}, chatPage=${page.number + 1})}"
       th:if="${pageParamName == 'chatPage' and page.hasNext()}">다음</a>
</div>

</body>
</html>